name: CI/CD for Microservices

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: rsantamaria01
          password: ${{ secrets.GHCR_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ghcr.io/hsm-sanosoft/${{vars.MICROSERVICE_NAME}}:latest

  deploy:
    runs-on: self-hosted
    needs: build-and-push
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: rsantamaria01
          password: ${{ secrets.GHCR_PASSWORD }}

      - name: Capitalize Microservices Name
        id: string
        uses: ASzc/change-string-case-action@v6
        with: 
          string: ${{ vars.MICROSERVICE_NAME }}

      - name: Pull and Deploy Microservices
        run: |
          echo "Navigating to directory: ${{secrets.PATH_DOCKER_COMPOSE}}"
          cd ${{secrets.PATH_DOCKER_COMPOSE}}

          echo "Pulling the latest image for ${{vars.MICROSERVICE_NAME}}..."
          echo "docker pull ghcr.io/hsm-sanosoft/${{vars.MICROSERVICE_NAME}}:latest"
          docker pull ghcr.io/hsm-sanosoft/${{vars.MICROSERVICE_NAME}}:latest

          echo "Restarting ${{steps.string.outputs.uppercase}} container..."
          docker-compose -f docker-compose.prod.yml --env-file ./envs/global.env up -d --no-deps ${{steps.string.outputs.uppercase}}
